@model IEnumerable<Statr.Routing.Bucket>
@{
    ViewBag.Title = "Buckets";
}

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var bucket in Model)
        {
            <tr>
                <td>@bucket.Name</td>
                <td>@bucket.MetricType</td>
            </tr>
        }
    </tbody>
</table>
