@{
    ViewBag.Title = "statr - stats 4 u";
}

<script type="text/x-handlebars" data-template-name="application">
    <div id="content">
        {{view App.NavigationView controllerBinding="controller.controllers.navigationController"}}    
    
        <div class="container">
            {{outlet}}
            {{view App.FooterView}}
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="navigation">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Statr</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="nav-home"><a href="#" {{action goHome}}>Home</a></li>
                        <li id="nav-configuration"><a href="#" {{action goConfiguration}}>Configuration</a></li>
                        <li id="nav-buckets"><a href="#" {{action goBuckets}}>Buckets</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="footer">
    <hr>
    <footer>
        <p>&copy; Statr 2012</p>
    </footer>
</script>

<script type="text/x-handlebars" data-template-name="home">
    home
</script>

<script type="text/x-handlebars" data-template-name="configuration">
    configuration
</script>

<script type="text/x-handlebars" data-template-name="buckets">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Bucket</th>
                <th>Type</th>    
            </tr>
        </thead>
        <tbody>
            {{#each bucket in content}}
                <tr>    
                    <td><a {{action showBucket bucket href=true}}>{{bucket.name}}</a></td>
                    <td>{{bucket.metricType}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<script type="text/x-handlebars" data-template-name="bucket">
    <h3>{{content.metricType}}/{{content.id}}</h3>
    
    <div id="data-points-graph"></div>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
                <th>NumMetrics</th>
            </tr>
        </thead>
        <tbody>
            {{#each point in dataPoints}}
                <tr>
                    <td>{{point.TimeStamp}}</td> 
                    <td>{{point.Value}}</td> 
                    <td>{{point.NumMetrics}}</td> 
                </tr>           
            {{/each}}
        </tbody>
    </table>
</script>
