@using Statr.Extensions
@model Statr.Configuration.Config
@{
    ViewBag.Title = "Configuration";
}

<h2>Configuration</h2>

@Html.ActionLink("Add", "Create", new { }, new { @class = "btn btn-info" })

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pattern</th>
            <th>Retentions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entries)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Pattern</td>
                <td>@item.Retentions.Join()</td>
            </tr>
        }
    </tbody>
</table>
